<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/H-ui.css">
    <link rel="stylesheet" href="../static/css/info.css">
    <link rel="shortcut icon" href="../static/images/location.png">

     
<body>
    <div class="infoMostbox">
    <div class="infoOrientation">
        <!--2大盒子 主体顶部  no:1-->
          <div class="topMostbox">
            <!-- 顶部 2个中等 No:1 -->

          </div>

        <!-- 上盒子 no:1topMostbox -->
         <div class="bottomMostbox">

            <!-- 主体上边 三大盒子 no:1 导航位置-->
            <div class="topInfoMostbox"></div>

            <!-- 主体左边 三大盒子 no:2-->
            <div class="leftInfoMostbox">
                <!-- 左边 目录 -->
                <div class="directory"><h2>目录</h2></div>
                <!-- 左边 目录表 -->
                <div class="directoryBox">
                    <ul class="directoryList">

                        <!-- 网络地址 https://www.51zxw.net/login/Content/images/face/25.png -->
                        <li class="directoryItem"><h4 class="directoryItemH4"><img class="rightArrow " src="../static/images/right.png" >账号管理</h4>
                        <div class="setItem" >
                        <a class="setItemA" href="http://127.0.0.1:5000/info_img"><img  src="../static/images/location.png" alt=""><span>头像设置</span></a>
                        <a class="setItemA" href="http://127.0.0.1:5000/change_password"><img src="../static/images/location.png" alt=""><span>修改密码</span></a>
                        <a class="setItemA" href="http://127.0.0.1:5000/email"><img src="../static/images/location.png" alt=""><span>邮箱绑定</span></a>
                        <a class="setItemA" href="http://127.0.0.1:5000/phone"><img src="../static/images/location.png" alt=""><span>手机绑定</span></a>

                        <a class="setItemA" href="http://127.0.0.1:5000/amend_name"><img src="../static/images/location.png" alt=""><span>修改用户名</span></a>

                        </div>
                        </li>
                        <!--  >财务中心-->
                        <li class="directoryItem"><h4 class="directoryItemH4"><img class="rightArrow " src="../static/images/right.png" >财务中心</h4>
                            <div class="setItem">

                            <a class="setItemA" href="http://127.0.0.1:5000/video_consume"><img src="../static/images/location.png" alt=""><span>视频消费记录</span></a>
                            <a class="setItemA" href="http://127.0.0.1:5000/video_matter"><img src="../static/images/location.png" alt=""><span>问答消费记录</span></a>
                            <a class="setItemA" href="http://127.0.0.1:5000/video_app_consume"><img src="../static/images/location.png" alt=""><span>APP离线消费</span></a>
                            </div>
                        </li>
                        <!--V币充值 -->
                        <li class="directoryItem"><h4 class="directoryItemH4"><img class="rightArrow" src="../static/images/right.png" >V币充值</h4>
                            <div class="setItem">
                            <a class="setItemA" href="http://127.0.0.1:5000/VBi"><img  src="../static/images/location.png" alt=""><span>V币充值</span></a>

                            </div>
                        </li>
                        <!--宣传推广-->
                        <li class="directoryItem"><h4 class="directoryItemH4"><img class="rightArrow " src="../static/images/right.png" >宣传管理</h4>
                            <div class="setItem">
                            <a class="setItemA" href="http://127.0.0.1:5000/flack_intro"><img  src="../static/images/location.png" alt=""><span>活动介绍</span></a>
                            <a class="setItemA" href="http://127.0.0.1:5000/flack_means"><img src="../static/images/location.png" alt=""><span>宣传方法</span></a>
                            <a class="setItemA" href="http://127.0.0.1:5000/flack_origin"><img src="../static/images/location.png" alt=""><span>宣传来路</span></a>
                            </div>
                        </li>
                        <!-- 进度与关注 -->
                        <li class="directoryItem"><h4 class="directoryItemH4"><img class="rightArrow " src="../static/images/right.png" >进度与管理</h4>
                            <div class="setItem">
                            <a class="setItemA"  href="http://127.0.0.1:5000/attention"><img  src="../static/images/location.png" alt=""><span>我的学习进度</span></a>
                            <a class="setItemA" href="http://127.0.0.1:5000/progress"><img src="../static/images/location.png" alt=""><span>我关注的课程</span></a>
                            <a class="setItemA" href="http://127.0.0.1:5000/note"><img src="../static/images/location.png" alt=""><span>课堂笔记</span></a>
                            </div>
                        </li>
                        <!-- 我的评论 -->
                        <li class="directoryItem"><h4 class="directoryItemH4"><img class="rightArrow " src="../static/images/right.png" >我的评论</h4>
                            <div class="setItem">
                            <a class="setItemA" href="http://127.0.0.1:5000/comment"><img  src="../static/images/location.png" alt=""><span>我的评论列表</span></a>

                            </div>
                        </li>
                    </ul>

                </div>
            <!--rightInfoMostbox </div> -->
            </div>

            <!-- 内容主体 -->
            <!-- 主体由边 三大盒子 no:3-->
            <div class="rightInfoMostbox">

            </div>


            <!--bottomMostbox 两个盒子no:2   </div> -->
        </div>
        <div class="clean"></div>


<!-- infoOrientation 信息内容定位 </div>-->
    </div>
<!-- infoMostbox 最大盒子</div>-->
    </div>

    <!-- 尾部  -->
    <footer>
        <div class="content-box">
            <div class="pl-200">
                <div class="Navbar">
                    <a href="/usercenter/about_web.asp">关于网站</a>
                    <a href="/usercenter/about_us.asp">关于我们</a>
                    <a href="/usercenter/sitemap.asp">网站地图</a>
                    <a href="/usercenter/about_feedback.asp">建议反馈</a>
                    <a href="/newan/Products">购买教程</a>
                    <a target="_blank" rel="noopener noreferrer" href="https://wpa.b.qq.com/cgi/wpa.php?ln=1&amp;key=XzgwMDAxNjc3OF80OTMzMzZfODAwMDE2Nzc4XzJf">在线咨询</a>
                    <a onclick="window.open('tencent://message/?uin=6561232&amp;Site=我要自学网&amp;Menu=yes','QQ临时交谈');">业务合作</a>
                </div>
            </div>
            <div class="copyright">
                我要自学网,版权所有.未经许可,本网站任何教程不得转载 法律顾问：刘炜律师 <a href="https://beian.miit.gov.cn">粤ICP备07074235号</a> 
               <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44060402000004"> 公安局备案编号:4406043010753</a> 客服电话:4008-3232-13
               
            </div>
            <div class="copyright">
                <a href="https://ss.knet.cn/verifyseal.dll?sn=e17101611010669162wvwn000000&amp;pa=111332" target="_blank" style="background-color:transparent;padding:0px;"><img style="border:none;" src="https://www.51zxw.net/login/Content/images/footPic1.png"></a>
                <a href="https://v.anquan.org/cert/site/?site=www.51zxw.net" target="_blank" style="background-color:transparent;padding:0px;"><img src="https://www.51zxw.net/login/Content/images/footPic2.png"></a>
            </div>
        </div>
    </footer>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/info.js"></script>
    <script>

    token = window.localStorage.getItem('mm_token');
    username = window.localStorage.getItem('mm_user');
    console.log(username)
    var html_body = ''
    $.ajax({
        type:"get",
        url:"http://127.0.0.1:8000/v1/users/"+ username,
        beforeSend: function(request) {
            request.setRequestHeader("Authorization", token);
            },
        success:function(result){
         html_body +=`

             <div class="LefttopMiddle">
            <!--信息图形 2个 昵称 左盒子 no：1   -->
            <div class="leftInfoSmallbox">
                <img src="${result.data.avatar}">

            </div>
             <!--信息图形 2个 昵称 右盒子   no：2 -->
            <div class="rightInfoSmallbox">
                <ul class="infoList">

                    <li>会员名字:<b>${result.data.username}</b></li>
                    <li>会员类型：${result.data.user_type}</li>

                    <li>注册于：${result.data.created_time}</li>
                </ul>
            </div>


            <!--LefttopInfoMiddle No:1 </div > -->
            </div>
             <!-- 顶部 2个中等 No:2 -->
            <div class="RighttopInfoMiddle">
                <!-- 宣传 分享  论坛 -->
            <ul class="InfoDispaly">
                <li><a href="">
                    <div class="TopInfoDispaly"><b>我的宣传</b></div>
                    <div class="MiddleInfoDispaly">有效来路：0 次</div>
                    <div class="BottomInfoDispaly">可用积分：0 分</div>
                </a></li>

                <li><a href="">
                     <div class="TopInfoDispaly"><b>我的财务</b></div>
                    <div class="MiddleInfoDispaly">已消费V币：0 个</div>
                    <div class="BottomInfoDispaly">现有V币：0 个</div>
                </a></li>

                <li>
                    <div class="TopInfoDispaly"><b>我的分享</b></div>
                    <div class="MiddleInfoDispaly"><a href="/newan/ExpertCenter/MyVideo" target="_blank">我发布的视频教程</a></div>
                    <div class="BottomInfoDispaly"><a href="/newan/ExpertCenter/MyIncome" target="_blank">我获取的收益</a></div>
                </li>

                <li ><a href="">
                    <div class="TopInfoDispaly"><b>我的论坛</b></div>
                    <div class="MiddleInfoDispaly">总帖子：0</div>
                    <div class="BottomInfoDispaly">自学币：0 分</div>
                    <div class="BottomInfoDispaly">金钱：0</div>
                </a></li>
            </ul>
            <div style="clear: both;"></div>


                <!--RighttopInfoMiddle No:2 </div > -->
            </div>
                 `;
             $('.topMostbox').append(html_body);

             var html_bodys='';
                html_bodys+=`
               <div class="commentText"><h4>宣传方法</h4></div>
            <div class="concentbox">
            <div class="clean"></div>
            <div class="contentBody text-l">

                    <div class="layui-clear"></div>

                        <div style="height: 60px;">
                            <div style="height: 60px;float: left;display: block;text-align:left">
                                <div style="height: 30px;">
                                    有效来路累计：<span style="width: 80px;height:30px;display: inline-block;line-height: 30px">0</span>
                                    可用积分：<span id="userTotalMark" style="width: 80px;height:30px;display: inline-block;line-height: 30px">0</span>
                                </div>
                                <div style="height: 30px">
                                    今日有效来路：<span style="width: 80px;height:30px;display: inline-block;line-height: 30px">0</span>
                                    已用积分：<span id="promotionPointExpend" style="width: 80px;height:30px;display: inline-block;line-height: 30px">0</span>
                                </div>
                            </div>
                            <div style="height: 60px;display: block;float: right;margin-right: 50px;">
                                <a id="changeVCoin" data-vcoin="0" data-totalmark="0" data-usermoney="0" class="btn btn-danger-outline size-L mr-20" style="border-radius: 20px;">兑换V币</a>
                                <a href="/login/UserCenter/VcoinRecharge" class="btn btn-secondary-outline size-L" style="border-radius: 20px;">快速获取V币</a>
                            </div>
                        </div>


                    <div class="c-999 mt-20">
                        各位忠实的学员，我们推出了宣传网站送积分活动，如果想获取更多免费学习资源可以选择参加该活动。积分将可以换取网站的货币
                        V币，V币可以用来换取更多的学习资源，可以说积分越多，获取的学习资源就越多。
                    </div>

                    <div class="f-18 pt-20 pb-10 f-14 mt-50">
                        <b>宣传方法</b>
                    </div>

                        <div class="mt-20">每介绍一个朋友认识网站，便可获得一个积分，多劳多得，获取更多资源。</div>
                        <div class="c-danger">我不懂宣传怎么办？<a href="//www.51zxw.net/zt/vshuo/getv.html" target="_blank" style="text-decoration: none;"><span>(点击观看-帮助视频)</span></a></div>
                            <div class="mt-10 text-l" style="width: 95%;border-radius: 10px;min-height: 1px;background-color: #f4f4f4;padding: 15px;box-sizing: border-box">
                                <b style="color: #00aeff;text-decoration: none">方法一</b>
                                <div class="mt-10">
                                    向好友直接推荐，可以通过QQ、Email、Msn等工具传递信息，只要你的朋友通过下面地址,点击按钮进入我们网站
                                    主页，便可以得到积分，这是最快见效的方法。
                                </div>

                                <div class="mt-10">
                                    <input id="Method1" value="https://www.51zxw.net/study.asp?vip=21155992" class="input-text radius size-L" style="width: 500px;"> <a id="Method1Btn" href="javascript:;" data-clipboard-target="#Method1" class="ml-10" style="color: #00aeff;text-decoration: none">复制代码</a>
                                    <a href="//www.51zxw.net/user_xc_show1.html" target="_blank" class="btn btn-secondary-outline size-L" style="border-radius: 20px;margin-left: 40px;">成功案例展示</a>
                                </div>

                            </div>
                            <div class="mt-10 text-l" style="width: 95%;border-radius: 10px;min-height: 1px;background-color: #f4f4f4;padding: 15px;box-sizing: border-box">
                                <b style="color: #00aeff;text-decoration: none">方法二</b>
                                <div class="mt-10">
                                    您可以复制下面某个广告代码。然后贴到其他论坛帖或首页链接,或者博客.论坛签名里。别人通过这个链接进入本网
                                    站主页，您就能获得积分。
                                </div>

                                <div class="mt-20" style="color: #00aeff;text-decoration: none">效果A：我要自学网－专业培训老师录制的视频教程，让学习变得很轻松</div>
                                <div class="mt-10">
                                    <textarea id="Method2" class="textarea radius " style="width: 500px;vertical-align: bottom;text-align: left">[url=https://www.51zxw.net/study.asp?vip=21155992 【51自学网】－专业培训老师录制的视频教程，让学习变得很轻松[/url]</textarea>
                                    <a id="Method2Btn" href="javascript:;" data-clipboard-target="#Method2" class="ml-10" style="color: #00aeff;text-decoration: none;vertical-align: bottom">复制代码</a>
                                    <a href="//www.51zxw.net/user_xc_show2.html" target="_blank" class="btn btn-secondary-outline size-L" style="border-radius: 20px;margin-left: 40px;">成功案例展示</a>
                                </div>

                                <div class="mt-20" style="color: #00aeff;text-decoration: none">效果B：强烈向大家推荐一个好网站，[我要自学网]．．．（长）</div>
                                <div class="mt-10">
                                    <textarea id="Method3" class="textarea radius " style="width: 500px;vertical-align: bottom;text-align: left">强烈向大家推荐一个好网站，[url=https://www.51zxw.net/study.asp?vip=21155992]【我要自学网】[/url]，教程由在校老师录制，有办公会计、平面设计、室内设计、机械设计、网页编程、影视动画等教程.....让你足不出门，都可以体验学校的专业教育！</textarea>
                                    <a id="Method3Btn" href="javascript:;" data-clipboard-target="#Method3" class="ml-10" style="color: #00aeff;text-decoration: none;vertical-align: bottom">复制代码</a>
                                    <a href="//www.51zxw.net/user_xc_show3.html" target="_blank" class="btn btn-secondary-outline size-L" style="border-radius: 20px;margin-left: 40px;vertical-align: bottom">成功案例展示</a>
                                </div>
                            </div>

                        <div class="mt-20">技巧：</div>
                        <div class="mt-5">
                            1、如果宣传口号不够针对性，可以根据需要修改，只需将复制的代码中汉字部分替换为你写的宣传文字。修改时其
                            他的代码不需要更改。
                        </div>
                        <div class="mt-5">2、可在朋友圈，微博，QQ，QQ群，邮箱，论坛，空间等渠道宣传。（在自学网论坛宣传无效）</div>
                        <div class="mt-20">注意：</div>
                        <div class="mt-5">1、每天最多可获取20个有效积分(2012-9-1号实施)</div>
                        <div class="mt-5">2、同一台电脑只能算一次点击，禁止作弊，作弊必封账号。</div>
                        <div class="mt-5">3、禁止欺骗的手段刷分，如：用色情或其它东西欺骗吸引别人点击，一经发现，永久封账号。</div>
                        <div class="mt-5">4、禁止学员间相互点击刷分，一经发现，永久封账号。</div>


                </div>

                <!-- 内容盒子 </div> -->
            </div>


             `;
             $('.rightInfoMostbox').append(html_bodys);

        }
     })

<!--     $.ajax({-->
<!--        type:"post",-->
<!--        url:"http://127.0.0.1:8000/v1/users/"+ username,-->
<!--        beforeSend: function(request) {-->
<!--            request.setRequestHeader("Authorization", token);-->
<!--            },-->
<!--        success:function(result){-->


<!--        }-->
<!--        })-->

    </script>
    <script>
        $('.setItem:eq(3)').css('display','block','background-color', 'aqua')
        $('.rightArrow:eq(3)').attr('src',"../static/images/bottom.png")
        $('.setItem img').removeClass('setItemImg')
        // $('.setItem:eq(4) img:eq(1)').toggleClass('setItemImg')
        $('.setItem:eq(3) img:eq(1)').addClass('setItemImg').siblings().removeClass('setItemImg')
        $('.setItem:eq(3) .setItemA:eq(1)').addClass('setItemBackground')
    </script>

</body>
</html>