<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/H-ui.css">
    <link rel="stylesheet" href="../static/css/info.css">
    <link rel="shortcut icon" href="../static/images/location.png">

     
<body>
    <div class="infoMostbox">
    <div class="infoOrientation">
        <!--2大盒子 主体顶部  no:1-->
          <div class="topMostbox">
            <!-- 顶部 2个中等 No:1 -->

          </div>

        <!-- 上盒子 no:1topMostbox -->
         <div class="bottomMostbox">

            <!-- 主体上边 三大盒子 no:1 导航位置-->
            <div class="topInfoMostbox"></div>

            <!-- 主体左边 三大盒子 no:2-->
            <div class="leftInfoMostbox">
                <!-- 左边 目录 -->
                <div class="directory"><h2>目录</h2></div>
                <!-- 左边 目录表 -->
                <div class="directoryBox">
                    <ul class="directoryList">

                        <!-- 网络地址 https://www.51zxw.net/login/Content/images/face/25.png -->
                        <li class="directoryItem"><h4 class="directoryItemH4"><img class="rightArrow " src="../static/images/right.png" >账号管理</h4>
                        <div class="setItem" >
                        <a class="setItemA" href="http://127.0.0.1:5000/info_img"><img  src="../static/images/location.png" alt=""><span>头像设置</span></a>
                        <a class="setItemA" href="http://127.0.0.1:5000/change_password"><img src="../static/images/location.png" alt=""><span>修改密码</span></a>
                        <a class="setItemA" href="http://127.0.0.1:5000/email"><img src="../static/images/location.png" alt=""><span>邮箱绑定</span></a>
                        <a class="setItemA" href="http://127.0.0.1:5000/phone"><img src="../static/images/location.png" alt=""><span>手机绑定</span></a>

                        <a class="setItemA" href="http://127.0.0.1:5000/amend_name"><img src="../static/images/location.png" alt=""><span>修改用户名</span></a>

                        </div>
                        </li>
                        <!--  >财务中心-->
                        <li class="directoryItem"><h4 class="directoryItemH4"><img class="rightArrow " src="../static/images/right.png" >财务中心</h4>
                            <div class="setItem">

                            <a class="setItemA" href="http://127.0.0.1:5000/video_consume"><img src="../static/images/location.png" alt=""><span>视频消费记录</span></a>
                            <a class="setItemA" href="http://127.0.0.1:5000/video_matter"><img src="../static/images/location.png" alt=""><span>问答消费记录</span></a>
                            <a class="setItemA" href="http://127.0.0.1:5000/video_app_consume"><img src="../static/images/location.png" alt=""><span>APP离线消费</span></a>
                            </div>
                        </li>
                        <!--V币充值 -->
                        <li class="directoryItem"><h4 class="directoryItemH4"><img class="rightArrow" src="../static/images/right.png" >V币充值</h4>
                            <div class="setItem">
                            <a class="setItemA" href="http://127.0.0.1:5000/VBi"><img  src="../static/images/location.png" alt=""><span>V币充值</span></a>

                            </div>
                        </li>
                        <!--宣传推广-->
                        <li class="directoryItem"><h4 class="directoryItemH4"><img class="rightArrow " src="../static/images/right.png" >宣传管理</h4>
                            <div class="setItem">
                            <a class="setItemA" href="http://127.0.0.1:5000/flack_intro"><img  src="../static/images/location.png" alt=""><span>活动介绍</span></a>
                            <a class="setItemA" href="http://127.0.0.1:5000/flack_means"><img src="../static/images/location.png" alt=""><span>宣传方法</span></a>
                            <a class="setItemA" href="http://127.0.0.1:5000/flack_origin"><img src="../static/images/location.png" alt=""><span>宣传来路</span></a>
                            </div>
                        </li>
                        <!-- 进度与关注 -->
                        <li class="directoryItem"><h4 class="directoryItemH4"><img class="rightArrow " src="../static/images/right.png" >进度与管理</h4>
                            <div class="setItem">
                            <a class="setItemA"  href="http://127.0.0.1:5000/attention"><img  src="../static/images/location.png" alt=""><span>我的学习进度</span></a>
                            <a class="setItemA" href="http://127.0.0.1:5000/progress"><img src="../static/images/location.png" alt=""><span>我关注的课程</span></a>
                            <a class="setItemA" href="http://127.0.0.1:5000/note"><img src="../static/images/location.png" alt=""><span>课堂笔记</span></a>
                            </div>
                        </li>
                        <!-- 我的评论 -->
                        <li class="directoryItem"><h4 class="directoryItemH4"><img class="rightArrow " src="../static/images/right.png" >我的评论</h4>
                            <div class="setItem">
                            <a class="setItemA" href="http://127.0.0.1:5000/comment"><img  src="../static/images/location.png" alt=""><span>我的评论列表</span></a>

                            </div>
                        </li>
                    </ul>

                </div>
            <!--rightInfoMostbox </div> -->
            </div>

            <!-- 内容主体 -->
            <!-- 主体由边 三大盒子 no:3-->
            <div class="rightInfoMostbox">

            </div>


            <!--bottomMostbox 两个盒子no:2   </div> -->
        </div>
        <div class="clean"></div>


<!-- infoOrientation 信息内容定位 </div>-->
    </div>
<!-- infoMostbox 最大盒子</div>-->
    </div>

    <!-- 尾部  -->
    <footer>
        <div class="content-box">
            <div class="pl-200">
                <div class="Navbar">
                    <a href="/usercenter/about_web.asp">关于网站</a>
                    <a href="/usercenter/about_us.asp">关于我们</a>
                    <a href="/usercenter/sitemap.asp">网站地图</a>
                    <a href="/usercenter/about_feedback.asp">建议反馈</a>
                    <a href="/newan/Products">购买教程</a>
                    <a target="_blank" rel="noopener noreferrer" href="https://wpa.b.qq.com/cgi/wpa.php?ln=1&amp;key=XzgwMDAxNjc3OF80OTMzMzZfODAwMDE2Nzc4XzJf">在线咨询</a>
                    <a onclick="window.open('tencent://message/?uin=6561232&amp;Site=我要自学网&amp;Menu=yes','QQ临时交谈');">业务合作</a>
                </div>
            </div>
            <div class="copyright">
                我要自学网,版权所有.未经许可,本网站任何教程不得转载 法律顾问：刘炜律师 <a href="https://beian.miit.gov.cn">粤ICP备07074235号</a> 
               <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44060402000004"> 公安局备案编号:4406043010753</a> 客服电话:4008-3232-13
               
            </div>
            <div class="copyright">
                <a href="https://ss.knet.cn/verifyseal.dll?sn=e17101611010669162wvwn000000&amp;pa=111332" target="_blank" style="background-color:transparent;padding:0px;"><img style="border:none;" src="https://www.51zxw.net/login/Content/images/footPic1.png"></a>
                <a href="https://v.anquan.org/cert/site/?site=www.51zxw.net" target="_blank" style="background-color:transparent;padding:0px;"><img src="https://www.51zxw.net/login/Content/images/footPic2.png"></a>
            </div>
        </div>
    </footer>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/info.js"></script>
    <script>

    token = window.localStorage.getItem('mm_token');
    username = window.localStorage.getItem('mm_user');
    console.log(username)
    var html_body = ''
    $.ajax({
        type:"get",
        url:"http://127.0.0.1:8000/v1/users/"+ username,
        beforeSend: function(request) {
            request.setRequestHeader("Authorization", token);
            },
        success:function(result){
         html_body +=`

             <div class="LefttopMiddle">
            <!--信息图形 2个 昵称 左盒子 no：1   -->
            <div class="leftInfoSmallbox">
                <img src="${result.data.avatar}">

            </div>
             <!--信息图形 2个 昵称 右盒子   no：2 -->
            <div class="rightInfoSmallbox">
                <ul class="infoList">

                    <li>会员名字:<b>${result.data.username}</b></li>
                    <li>会员类型：${result.data.user_type}</li>

                    <li>注册于：${result.data.created_time}</li>
                </ul>
            </div>


            <!--LefttopInfoMiddle No:1 </div > -->
            </div>
             <!-- 顶部 2个中等 No:2 -->
            <div class="RighttopInfoMiddle">
                <!-- 宣传 分享  论坛 -->
            <ul class="InfoDispaly">
                <li><a href="">
                    <div class="TopInfoDispaly"><b>我的宣传</b></div>
                    <div class="MiddleInfoDispaly">有效来路：0 次</div>
                    <div class="BottomInfoDispaly">可用积分：0 分</div>
                </a></li>

                <li><a href="">
                     <div class="TopInfoDispaly"><b>我的财务</b></div>
                    <div class="MiddleInfoDispaly">已消费V币：0 个</div>
                    <div class="BottomInfoDispaly">现有V币：0 个</div>
                </a></li>

                <li>
                    <div class="TopInfoDispaly"><b>我的分享</b></div>
                    <div class="MiddleInfoDispaly"><a href="/newan/ExpertCenter/MyVideo" target="_blank">我发布的视频教程</a></div>
                    <div class="BottomInfoDispaly"><a href="/newan/ExpertCenter/MyIncome" target="_blank">我获取的收益</a></div>
                </li>

                <li ><a href="">
                    <div class="TopInfoDispaly"><b>我的论坛</b></div>
                    <div class="MiddleInfoDispaly">总帖子：0</div>
                    <div class="BottomInfoDispaly">自学币：0 分</div>
                    <div class="BottomInfoDispaly">金钱：0</div>
                </a></li>
            </ul>
            <div style="clear: both;"></div>


                <!--RighttopInfoMiddle No:2 </div > -->
            </div>
                 `;
             $('.topMostbox').append(html_body);

             var html_bodys='';
                html_bodys+=`
                  <div class="commentText">
                <div class="videoConsumeH3">
                <h4>APP离线消费</h4> </div>
                <div class="text-lc-333">您好，<span style="color: #00aeff">T-yg2by35zg</span></div>
                <div class="text-lmt-5">
                        您已经消费了  <span class="c-danger">0</span>  个V币，还剩余  <span class="c-danger">0</span>  个V币。
                        <a href="/login/UserCenter/VcoinRecharge" class="blackAddmoney">充值V币</a>
                </div>

                <div class="linemt-20"></div>

                <div class="contentBody text-l">

                    <div class="layui-clear"></div>

                    <ul class="CourseItems text-c">

                            <div style="line-height:250px;height:250px;text-align:center;background-color: #eee;font-size: 20px;color: #999;font-style: italic">暂无数据....</div>

                    </ul>

                    <div style="clear: both;"></div>

                    <div class="pages" style="position: relative;margin-top: 40px">
                        <div id="pages">
                            <div class="layui-box layui-laypage layui-laypage-molv" id="layui-laypage-1">
                                <span class="layui-laypage-count">共 0 条</span>
                                <a href="javascript:;" class="layui-laypage-prev layui-disabled" data-page="0">上一页</a>
                                <a href="javascript:;" class="layui-laypage-next layui-disabled" data-page="2">下一页</a>
                                <span class="layui-laypage-skip">  到第  <input type="text" min="1" value="1" class="layui-input">页<button type="button" class="layui-laypage-btn">确定</button></span>
                            </div>
                        </div>
                    </div>

                <!--videoConsumeH3  </div>-->
                </div>


             `;
             $('.rightInfoMostbox').append(html_bodys);

        }
     })

<!--     $.ajax({-->
<!--        type:"post",-->
<!--        url:"http://127.0.0.1:8000/v1/users/"+ username,-->
<!--        beforeSend: function(request) {-->
<!--            request.setRequestHeader("Authorization", token);-->
<!--            },-->
<!--        success:function(result){-->


<!--        }-->
<!--        })-->

    </script>
    <script>
        $('.setItem:eq(1)').css('display','block','background-color', 'aqua')
        $('.rightArrow:eq(1)').attr('src',"../static/images/bottom.png")
        $('.setItem img').removeClass('setItemImg')
        // $('.setItem:eq(4) img:eq(1)').toggleClass('setItemImg')
        $('.setItem:eq(1) img:eq(2)').addClass('setItemImg').siblings().removeClass('setItemImg')
        $('.setItem:eq(1) .setItemA:eq(2)').addClass('setItemBackground')
    </script>

</body>
</html>